server:
  port: 8081

spring:
  application:
    name: AUTH-SERVICE

  # Database Configuration (Supabase)
  datasource:
    url: ${SUPABASE_DB_URL}
    username: ${SUPABASE_DB_USERNAME}
    password: ${SUPABASE_DB_PASSWORD}
    #    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update # Creates tables automatically
    show-sql: true # Shows SQL queries in logs (for learning)
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# JWT Configuration
jwt:
  secret: ${JWT_SECRET_KEY}
  expiration: 86400000 #24 hours

# Logging
logging:
  level:
    com.smartdocs: DEBUG
    org.springframework.security: DEBUG
#  pattern:
#    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
